.secret/
config/thefuck/__pycache__
config/thefuck/rules

# i3blocks
config/i3blocks/config
config/i3/monitors.conf
config/i3/*.monitors.conf
config/i3/current.log

# Nitrogen
config/nitrogen/backgrounds/
config/nitrogen/bg-saved.cfg
config/nitrogen/nitrogen.cfg
config/nitrogen/template.cfg
config/nitrogen/*.log
config/nitrogen/*.template.cfg

# Neovim
config/nvim/lazy-lock.json

# Git
.gitconfig.global

# General
*.tmp
