snippet html5 "HTML 5 Boilerplate"
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<title>$1</title>
			${2:<link rel="stylesheet" href="style.css">}
			${3:<script src="" module""></script>}
		</head>
		<body>
			$0
		</body>
	</html>
